<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">marconi</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Integer a neque vitae augue ultricies dictum at ut quam. Cras dictum augue malesuada quam sollicitudin tempor.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="section-title">Debug Features</h3>
          
          <p>
          <h4>Publishers</h4>
          <%= link_to "New Publisher", new_publisher_path %> -
          <%= link_to "All Publishers", publishers_path %>
          </p>

          <p>
          <h4>Podcasts</h4>
          <%= link_to "New Podcast", new_podcast_path %> -
          <%= link_to "All Podcast", podcasts_path %>
          </p>

          <p>
          <h4>Episodes</h4>
          <%= link_to "New Episode", new_episode_path %> -
          <%= link_to "All Episodes", episodes_path %>
          </p>


      </div>
    </div>
  </div>
</section>