<!-- refactor into standard header later -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Edit User Info</h2>
        </div>
    </div>
  </div>
</section>

<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">

        <%= form_for @user do |f| %>
            <%= f.text_field :username, class: 'form-control mb-3', placeholder: 'Username', required: true %>

            <%= f.email_field :email, class: 'form-control mb-3', placeholder: 'E-mail', required: true %>

            <%= f.password_field :password, class: 'form-control mb-3', placeholder: 'Password', required: true %>

            <%= f.text_field :first_name, class: 'form-control mb-3', placeholder: 'First Name (optional)' %>

            <%= f.text_field :last_name, class: 'form-control mb-3', placeholder: 'Last Name (optional)' %>

            <%= f.button 'Edit', class: 'btn btn-primary'%>
        <% end %>

      </div>
      <div class="col-lg-5">
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit recusandae voluptates doloremque veniam temporibus porro culpa ipsa, nisi soluta minima saepe laboriosam debitis nesciunt. Dolore, labore. Accusamus nulla sed cum aliquid exercitationem debitis error harum porro maxime quo iusto aliquam dicta modi earum fugiat, vel possimus commodi, deleniti et veniam, fuga ipsum praesentium. Odit unde optio nulla ipsum quae obcaecati! Quod esse natus quibusdam asperiores quam vel, tempore itaque architecto ducimus expedita</p>
        <a href="tel:+8802057843248" class="text-color h5 d-block">+880 20 5784 3248</a>
        <a href="mailto:yourmail@email.com" class="mb-5 text-color h5 d-block">yourmail@email.com</a>
        <p>71 Shelton Street<br>London WC2H 9JQ England</p>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- /gmap -->

<!--
<form action="#">
    <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
    <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email">
    <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
    <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
    <button type="submit" value="send" class="btn btn-primary">SEND MESSAGE</button>
</form>
-->