<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>New Podcast</h2>
        </div>
    </div>
  </div>
</section>



<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">


        <%= form_for @podcast do |f| %>
            <%= f.text_field :title, class: 'form-control mb-3', placeholder: 'Podcast Title', required: true %>
                <%= f.collection_select :publisher_id, Publisher.all, :id, :name, { prompt: 'Please Select A Publisher' }, { class: 'form-control mb-3' } %>
                <%= f.fields_for :publisher do |p| %>
                    <%= p.text_field :name, class: 'form-control mb-3', placeholder: 'New Podcast Publisher' %>
                <% end %>

            <%= f.button 'Create Podcast', class: 'btn btn-primary'%>
        <% end %>


      </div>
      <div class="col-lg-5">
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit recusandae voluptates doloremque veniam temporibus porro culpa ipsa, nisi soluta minima saepe laboriosam debitis nesciunt. Dolore, labore. Accusamus nulla sed cum aliquid exercitationem debitis error harum porro maxime quo iusto aliquam dicta modi earum fugiat, vel possimus commodi, deleniti et veniam, fuga ipsum praesentium. Odit unde optio nulla ipsum quae obcaecati! Quod esse natus quibusdam asperiores quam vel, tempore itaque architecto ducimus expedita</p>
        <a href="tel:+8802057843248" class="text-color h5 d-block">+880 20 5784 3248</a>
        <a href="mailto:yourmail@email.com" class="mb-5 text-color h5 d-block">yourmail@email.com</a>
        <p>71 Shelton Street<br>London WC2H 9JQ England</p>
      </div>
    </div>
  </div>
</section>