<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2><%= @podcast.title %></h2>
        <h3><%= @podcast.publisher.name %>
        </div>
    </div>
  </div>
</section>

<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
      <% @episodes.each do |episode| %>
        <div class="card border-top-0 border-left-0 border-right-0 rounded-0 hover-shadow">
            <div class="card-body">
              
                <h4 class="card-title"><%= link_to episode.title, episode %></h4>
              
              <p><strong><%= "Episode  #{episode.number} • " if episode.number %><%= episode.published_on %> • <%= episode.length %> minutes</strong></p>
              <p><%= episode.summary %></p>
            </div>
          </div>
        <% end %>
      </div>



      <div class="col-lg-5">
            <%= render partial: "reviews/review_form", locals: { podcast: @podcast} %><br><br>
            <%= render partial: "reviews/list_reviews", locals: { reviews: @reviews } %>
      </div>
    </div>
  </div>
</section>
